
<%= render :partial => 'shared/jobs_left_nav' %>


<div class="box left">
	<h3>Edit Job</h3>
	
	<%= render 'form' %>
	
	<!-- <%= link_to 'Show', @job %> |
	<%= link_to 'Back', jobs_path %> -->
</div>