
html {
	background: #FFFFF0;
	
}


.container .box {
	background-color: #F5F5F5;
}

.content {
	padding-top:10px;
	margin-top: 10px;
}

.transparency {
	
	opacity:0.8;
	filter:alpha(opacity=0.8); /* For IE8 and earlier */
}


body .container {	
	background: white;
	border-left: solid 1px  #8C8C8C;
	border-right: solid 1px  #8C8C8C;
	border-bottom: solid 1px  #8C8C8C;
}

.container h2 {
	margin: 0;
	padding: 0;
}




.container .below-header {
	margin-top: 5px;
	margin-bottom: 5px;
	
}



.logo_bar {		
	padding: 5px;
	height: 20px;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
	background: linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

	
}

.menu_div {
	
	height: 30px;
}

.drybook_name {
	color: white;
	vertical-align:
}


.gray_div {
  	float: left;
  	width: 66px; 	
	display: block;	
	height:39px;
	background: rgb(109,109,109); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,109,109,1) 0%, rgba(91,91,91,1) 35%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,109,109,1)), color-stop(35%,rgba(91,91,91,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

	
}


.green_div {
	background: #4DBD33;
	padding: 10px;
}


.highlight {
	padding: 10px;
	background: yellow;
}

.container a:link {
	text-decoration: none;
}

.container a:hover {
	text-decoration: underline;
}

.container a.new_button {
	float:right;
	display: block;
	text-align: center;
	width: 120px;
	color: #fff;	
	font-size: 100%;
	font-weight: bold;
	padding: 10px;	
	background: rgb(255,183,107); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(51%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */

	
}


.container a.new_button:hover {
	
	
	
}



/*********** NAVIGATION ******************/


#nav_div ul {
	margin: 0px;
	padding: 0px;
	clear: both;
}

.container #nav_list {	
	
}

.container #nav_list li {
	float: left;
	list-style-type:none;
}

.container a.nav_button {
	
	float:left;
	display: block;
	text-align: center;
	width: 200px;
	color: #fff;	
	font-size: 100%;
	font-weight: bold;
	margin-right:1px;
	padding: 10px;
	background: rgb(109,109,109); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,109,109,1) 0%, rgba(91,91,91,1) 35%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,109,109,1)), color-stop(35%,rgba(91,91,91,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

	

}


.container .nav_button:hover {
	color: black;
	background: rgb(230,240,163); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,240,163,1)), color-stop(50%,rgba(210,230,56,1)), color-stop(51%,rgba(195,216,37,1)), color-stop(100%,rgba(219,240,67,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */

}

.container .nav_select {
	
	float:left;
	display: block;
	text-align: center;
	width: 200px;
	color: #fff;	
	font-size: 100%;
	font-weight: bold;
	margin-right:1px;
	padding: 10px;
	color: black;
	background: rgb(230,240,163); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,240,163,1)), color-stop(50%,rgba(210,230,56,1)), color-stop(51%,rgba(195,216,37,1)), color-stop(100%,rgba(219,240,67,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */

	
}


.round {

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

}

.small_round {
vertical-align: middle;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
opacity: 0.7;
filter:alpha(opacity=0.7); /* For IE8 and earlier */

}


/***** Override BP table styles *****/

table tr {
	font-size: 11px;
}


table tbody tr:nth-child(even) td,
table tbody tr.even td {
  background: transparent;
  
}

tr:nth-child(odd) td {
	background:  #CCFFCC;
}

tr:hover:nth-child(odd) td{
	background: rgb(205,235,139); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(205,235,139,1) 0%, rgba(205,235,139,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,139,1)), color-stop(100%,rgba(205,235,139,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 ); /* IE6-9 */

	
}

tr:hover {
	background: rgb(205,235,139); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(205,235,139,1) 0%, rgba(205,235,139,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,139,1)), color-stop(100%,rgba(205,235,139,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 ); /* IE6-9 */

}

table thead>tr th {	
	color: white;
	font-size:11px;
	
	background: rgb(109,109,109); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,109,109,1) 0%, rgba(91,91,91,1) 35%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,109,109,1)), color-stop(35%,rgba(91,91,91,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(91,91,91,1) 35%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}







/*****  Table Buttons *****/

.container a .table_button {
	
	padding: 8px;
	
}

.container a:hover .table_button {
	
	padding: 8px;
	background: white;
}



/*********** LEFT JOB NAVIGATION *********/

#left_nav {
	display:block;
}

#left_nav li {
	list-style-type:none;
	text-decoration:none;
}


/*********** SIMPLE FORM STYLES *********/

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}
